<!-- <p id="notice"><%= notice %></p> -->

<h1>Showing candidate achievements</h1>
<b><%= @candidate_achievement.title %></b>

<%= link_to 'Edit', edit_candidate_achievement_path(achievement_path_params(@candidate_achievement)) %>
|
<%= link_to 'Back', candidate_achievements_path %>
