<div class="col-sm-7">
  <div class="row">
    <div class="col-sm-12">
      <% if !flash[:notice].blank? %>
      <div class="alert alert-success" role="alert">
        <div class="notice">
          <i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i>
          <%= flash[:notice] %>
        </div>
      </div>
      <% end %>
      <div class="panel panel-default bordercustom text-left">
        <div class="panel-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
