<div class="col-sm-7">
  <%= yield %>
  <!-- <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default text-left">
        <div class="panel-body">
          <p contenteditable="true">Status: Feeling Blue</p>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            Like
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="well">
        <p>John</p>
        <img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar">
      </div>
    </div>
    <div class="col-sm-9">
      <div class="well">
        <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="well">
        <p>Bo</p>
        <img src="bandmember.jpg" class="img-circle" height="55" width="55" alt="Avatar">
      </div>
    </div>
    <div class="col-sm-9">
      <div class="well">
        <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="well">
        <p>Jane</p>
        <img src="bandmember.jpg" class="img-circle" height="55" width="55" alt="Avatar">
      </div>
    </div>
    <div class="col-sm-9">
      <div class="well">
        <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="well">
        <p>Anja</p>
        <img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar">
      </div>
    </div>
    <div class="col-sm-9">
      <div class="well">
        <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
      </div>
    </div>
  </div> -->
</div>
