<div class="col-sm-3 well">
  <div class="well">
    <p>
      <%= link_to @company.name %>
    </p>
    <%= image_tag( @company.logo , size: "120x70", alt: @company.name) %>
  </div>
  <div class="well">
    <p>
      <a href="#">Interests</a>
    </p>
    <p>
      <span class="label label-default">News</span>
      <span class="label label-primary">W3Schools</span>
      <span class="label label-success">Labels</span>
      <span class="label label-info">Football</span>
      <span class="label label-warning">Gaming</span>
      <span class="label label-danger">Friends</span>
    </p>
  </div>
  <div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <p>
      <strong>Ey!</strong>
    </p>
    People are looking at your profile. Find out who.
  </div>
  <p>
    <a href="#">Link</a>
  </p>
  <p>
    <a href="#">Link</a>
  </p>
  <p>
    <a href="#">Link</a>
  </p>
</div>
