<div class="col-sm-2 well">
  <strong>Recent or Upcoming Events:</strong>
  <% @company.recent_events(5).each do |e| %>
  <%#= link_to  %>
  <div class="well">
    <%= e.event_type %><br>
    <%= e.date_time.strftime("%b, %d - %Y") %><br/>
    <%= e.date_time.strftime("%I:%M %p") %>
    <%= e.location.city %><br/>
  </div>
  <% end %>
</div>
