<h1>Editing Candidate Course Score</h1>

<%= render 'form', required_url: candidate_course_score_path(course_scores_path_params) %>

<%= link_to 'Show', candidate_course_score_path(course_scores_path_params) %> |
<%= link_to 'Back', candidate_course_scores_path %>
