<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratualations! You are selected</h1>
    <h1>Job is <%= @job.title %> </h1>
    <h1>Company is <%= @company.name %></h1>
    <p>
      Mail sent using smtp.
    </p>
  </body>
</html>
