<div class="form-group">
  <!--  -->
  <h3 class="text-center">Candidates matching your requirments
  </h3>
  <%= form_tag company_job_select_candidates_path(company_id:params[:company_id],job_id:params[:id]), method: :patch, class: "navbar-form navbar-left search-form" do  %>
  <div class="well col-sm-12">
    <%= collection_check_boxes :shortlist,:candidate_ids,@shortlisted_candidates,:id,:first_name do |b| %>
    <p><%= link_to b.label(:"data-value" => b.value) { b.check_box + b.text } %></p>
    <%# TODO: link_to b.label(:"data-value" => b.value) { b.check_box + b.text }, xyz_path %>
    <% end %>
  </div>
  <p>
    <%= submit_tag "Add to shortlist" %></p>
  <% end %>
</div>
