<h1>Editing Company Job Opportunity</h1>

<%= render 'form',required_url: company_job_path(job_opportunity_path_params(@company_job_opportunity))%>

<%#= link_to 'Show', @company_job_opportunity %> |
<%#= link_to 'Back', company_jobs_path %>
