<h1>Editing Skill</h1>

<%= render 'form', required_url: self.send(skill_path, skill_path_params(@skill)) %>

<%= link_to 'Show', self.send(skill_path,skill_path_params(@skill))
 %> |
<%= link_to 'Back', self.send(skill_path('index')) %>
