<p id="notice"><%= notice %></p>
<h1>Showing skills</h1>
<p>
  <b>Name : </b>
  <%= @skill.name %>
</p>
<%= link_to 'Edit', self.send(skill_path('edit'),skill_path_params(@skill)) %> |
<%= link_to 'Back', self.send(skill_path('index')) %>
