<h1>Editing Candidate Project</h1>
<%= render 'form', required_url: candidate_project_path(project_path_params)%>

<%= link_to 'Show', candidate_project_path(project_path_params) %> |
<%= link_to 'Back', candidate_projects_path %>
