<h1>New Candidate Project</h1>

<% project_path_params = { candidate_id:params[:candidate_id], id:@candidate_project.id } %>
<%= render 'form', required_url: candidate_projects_path(project_path_params)%>

<%= link_to 'Back', candidate_projects_path %>
