<h1>Editing Candidate Reference</h1>

<%= render 'form', required_url: candidate_reference_path(reference_path_params(@candidate_reference)) %>

<%= link_to 'Show', candidate_reference_path(reference_path_params(@candidate_reference)) %> |
<%= link_to 'Back', candidate_references_path %>
